img{
	width: 220px;
	height: 220px;
	border-radius: 10%;
}

h2, h4 {
	margin-left: 4%;
}

h4{
	font-size: 10%;
}

h3{
	display: inline-block;
	word-spacing: 9px;
	margin-left: 4%;
	font-style: 2%;
}
 #container{
 display: inline-block;
 }


p {
	display: inline-block;
}

.followersaside{
	display: inline-block;
	margin-left: 8px;
}

.followingaside{
	display:inline-block;
	margin-left: 8px;
}

.starredasside{
	display:inline-block;
	margin-left: 8px;
}

.assidenumbers{
	margin-top: 3px;
	margin-left: 1%;
}


